:root {
  --bg-dark: #121212;
  --bg-light: #ffffff;
  --text-dark: #ffffff;
  --text-light: #000000;
  --button-bg: #222;
  --button-hover: #444;
  --accent: #1db954;
  --delete: #d9534f;
}

/* Тёмная тема */
html{ margin: 0;}
body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}
#root{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Светлая тема */
.light-mode {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: var(--button-bg);
}

.logo {
  margin: 0 0;
  font-size: 36px;
  font-weight: bold;
}
.completed {
  text-decoration: line-through;
  opacity: .6;
}

nav button {
  margin-left: 10px;
  background: var(--button-bg);
  color: var(--text-dark);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

nav button:hover {
  background: var(--button-hover);
}
.light-mode nav button{
  background: var(--bg-light);
  color: var(--color-light);
  border: 1px solid var(--button-bg);
}
.light-mode nav button:hover{
  background: var(--button-bg);
  color: var(--text-dark);
}
.light-mode header{
  background: var(--bg-light);
}

.container {
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
}

.main-content {
  width: 100%;
  display: flex;
  margin-top: 20px;
  gap: 20px;
  
}

.task-form,
.task-list {
  flex: 1;
  padding: 20px;
  background: var(--button-bg);
  transition: background 0.3s;
}
h2{
  margin-top: 0;
}
.task-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-form h2{
  width: 100%;
  text-align: start;
}
.task-form hr {
  margin: 0px 0px 15px 0px;
  width: 100%;
}
.task-form form {
  width: 100%;
}

.light-mode .task-list,
.light-mode .task-form  {
  background: var(--bg-light);
}

input {
  width: 100%;
  padding: 10px;
  background: var(--bg-dark);
  color: var(--text-dark);
  border: 1px solid var(--button-hover);
  border-radius: 5px;
  transition: border-color 0.2s, background 0.3s, color 0.3s;
}

.light-mode input {
  background: var(--bg-light);
  color: var(--text-light);
}

input:focus {
  border-color: var(--accent);
}

button {
  background: var(--button-bg);
  color: var(--text-dark);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
}

button:hover {
  background: var(--button-hover);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--button-bg);
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  transition: transform 0.2s;
  border: 1px solid var(--bg-light);
}
.light-mode li{
  background: var(--bg-light);
  border: 1px solid var(--button-bg);
}

li:hover {
  transform: scale(1.02);
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.complete-btn {
  background: var(--accent);
  color: white;
}

.complete-btn:hover {
  background: #17a74b;
}

.delete-btn {
  background: var(--delete);
  color: white;
}

.delete-btn:hover {
  background: #c9302c;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  body{
    padding: 20px;
  }
}